@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mask {
  mask-image: url("../../public/mask.svg");
  background-color: #ec4e39;
  mask-repeat: no-repeat;
  color: black;
}
